HELP.md
target/
node_modules/
!**/src/main/**/target/
!**/src/test/**/target/

# jar not neccesary 
# https://maven.apache.org/wrapper/
.mvn/wrapper/maven-wrapper.jar

### Logs ###
logs
*.log
npm-debug.log*

### maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
